<div class="container mt-4">
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title ">About Component</h2>

      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item">
          <strong>Name:</strong> {{info.name}} {{info.prename}}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{info.email}}
        </li>
        <li class="list-group-item">
          <strong>Tel:</strong> {{info.tel}}
        </li>
        <li class="list-group-item">
          <strong>Web:</strong> <a href="{{info.web}}" target="_blank">{{info.web}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title">Add Comment</h3>
      <div class="mb-3">
        <input type="text"
               name="addComment"
               class="form-control"
               placeholder="Your Message"
               [(ngModel)]="comment.message">
        <br>
        <button class="btn btn-primary"
                type="button"
                (click)="addComment()"
                [disabled]="!comment.message">
          Add Comment
        </button>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="comments.length > 0; else noComments">
    <div class="card-body">
      <h3 class="card-title">Messages</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
          <tr *ngFor="let c of comments">
            <td>{{c.message}}</td>
            <td class="text-end text-muted">{{c.date | date:'HH:mm:ss'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #noComments>
    <div class="alert alert-info mt-3">No comments yet</div>
  </ng-template>
</div>
